
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    border-color: blue;
    right: 0px;
    bottom: 0px;
}
#two {
    border-color: green;
    top: 0px;
    right: 0px;
}
#three {
    border-color: orange;
    top: 0px;
    left: 0px;  
}
#four {
    border-color: yellow;
    left: 0px;
    bottom: 0px;
}
div {
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-width: 5px;
    width: 25%;
    position: fixed;
}
a {
    background-color: #2f418e;
    color: #fefefe;
    text-decoration: none;
}
#link{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}